# ignore files
ignore/

# compiled files
build/
*.out

# setup.py dist directory
dist
doc/build
doc/cdoc/build

# Egg metadata
*.egg-info

env/

# Custom folders
nand2tetris/
*.zip

# MacOS
*.DS_Store