# ignore files
ignore/

# compiled files
build/
*.out

# setup.py dist directory
dist
doc/build
doc/cdoc/build

# Egg metadata
*.egg-info

# pycache
**/__pycache__
**.pyc

# virtualenv
venv
virtualenv
